@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.close {
        left: 0;
        width: 250px;
    }

    .page-wrapper {
        margin-left: 0;
    }

    .nav-layout .navbar .navbar-search-bar {
        display: none;
    }

    .nav-layout .navbar .navbar-brand span {
        display: none;
    }

    .nav-layout .navbar .nav-profile div {
        display: none;
    }

    .sidebar.close~.page-wrapper {
        margin-left: 0;
    }
}

@media screen and (max-width:425px) {

    .nav-layout .navbar .navbar-nav {
        gap: 0.50rem;
    }

    .page-wrapper .home-section {
        padding: 1rem;
    }


}